.pullRequestNode {
    margin-bottom: 5px;
}

.pullRequestNode:last-child {
    margin-bottom: 0px;
}

.pull-request-label {
    margin-top: 3px;
    height: 20px;
    padding: 0.15em 4px;
    font-size: 12px;
    font-weight: 600 line-height:15px;
    border-radius: 2px;
}

.pr-heading {
    border-bottom: 2px solid #dfe1e6;
    color: #6c798f;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
}
