.linkInfoNode {
    margin-bottom: 5px;
}

.linkInfoNode:last-child {
    margin-bottom: 0px;
}

.link-heading {
    border-bottom: 2px solid #dfe1e6;
    color: #6c798f;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
}
